<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Редактирование пользователя</title>
</head>
<body>
<h1>Редактирование пользователя</h1>
<form action="#" th:action="@{'/users/' + ${user.id} + '/update'}" method="post" th:object="${user}">
    <input type="hidden" th:field="*{id}" />
    <p>
        Имя:<br/>
        <input type="text" th:field="*{name}" required />
    </p>
    <p>
        Фамилия:<br/>
        <input type="text" th:field="*{lastName}" required />
    </p>
    <p>
        Возраст:<br/>
        <input type="number" min="0" max="127" th:field="*{age}" required />
    </p>
    <button type="submit">Сохранить изменения</button>
</form>
</body>
</html>